@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
body{
  overflow-x: hidden;
  max-width: 1920px;
  margin:auto;
}
.container {
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    align-items: center;
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row; /* Switches to horizontal layout on larger screens */
    }
  }
  /* globals.css */
@media (max-width: 768px) {
    .header {
      font-size: 1.2rem;
    }
    .container {
      padding: 0.5rem;
    }
  }
  